@import "~@angular/material/theming";
@include mat-core();

$mm-green: (
  50: #f2f9eb,
  100: #def0cc,
  200: #c9e7aa,
  300: #b3dd88,
  400: #a2d56f,
  500: #92ce55,
  600: #8ac94e,
  700: #7fc244,
  800: #75bc3b,
  900: #009845,
  A100: #f7fff1,
  A200: #d8ffbe,
  A400: #b9ff8b,
  A700: #aaff72,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mm-gold: (
  50: #f8f2e4,
  100: #efdfba,
  200: #e4ca8d,
  300: #d9b55f,
  400: #d0a53c,
  500: #c8951a,
  600: #c28d17,
  700: #bb8213,
  800: #b4780f,
  900: #a76708,
  A100: #ffebd3,
  A200: #ffd4a0,
  A400: #ffbd6d,
  A700: #ffb253,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mm-red: (
  50: #e5f4f3,
  100: #bee4e1,
  200: #93d3cd,
  300: #67c1b8,
  400: #47b3a9,
  500: #26a69a,
  600: #229e92,
  700: #1c9588,
  800: #178b7e,
  900: #920808,
  A100: #0e0f0f,
  A200: #7affec,
  A400: #47ffe4,
  A700: #2dffe0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$candy-app-primary: mat-palette($mm-green, 900);
$candy-app-accent: mat-palette($mm-gold);
$candy-app-warn: mat-palette($mm-red, 900);

$candy-app-theme: mat-light-theme(
  $candy-app-primary,
  $candy-app-accent,
  $candy-app-warn
);

@include angular-material-theme($candy-app-theme);

$theme-colors: (
  "primary": #009845,
  "secondary": #a76708,
  "success": #009845,
  "danger": #920808,
  "C": #a76708,
  "info": #e7e3e2,
  "infod": #707070,
);
@import "node_modules/bootstrap/scss/bootstrap.scss"; // tried relative path too

@font-face {
  src: url("font/Novecento-LightWide.otf");
  font-family: "NovacentoLightWide";
  font-style: normal;
}

.machala-title {
  font-family: "NovacentoLightWide" !important;
}

.alert-login {
  background-color: #c8951a;
  color: #fff;
}

.alert-inf {
  background-color: #e5e5e5;
  color: #009845;
}

.invisible {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
  overflow: auto;
  pointer-events: auto;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footerBtnClass {
      text-align: right;       
  }
}

/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .footerBtnClass {
    text-align: center;       
}   
}

.check-error {
  color: #920808 !important; 
}
